.w-form-done {
    display: block !important;
}

.left-align {
    color: red;
    margin-top: -20px;
    text-align: left !important;
}
.password-input-wrapper {
    position: relative;
}

.password-toggle {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}


