<section class="section-3">
    <div class="container">
      <div class="content">
        <div class="content-wrap">
          <div class="group">
            <div class="w-form">

                <form
                  [formGroup]="advertForm"
                  id="email-form-2" 
                  name="email-form-2" 
                  data-name="Email Form 2" 
                  method="get" 
                  data-wf-page-id="65d5bbc9a28737588705846e" 
                  data-wf-element-id="c7c13352-b0ba-b441-efee-d37f32c936f5">
                    <div>
                      <div class="w-layout-grid grid-9">
                        <div id="w-node-c7c13352-b0ba-b441-efee-d37f32c936f8-8705846e" class="w-layout-grid grid-10">
                          <div id="w-node-c7c13352-b0ba-b441-efee-d37f32c936f9-8705846e">
                            <label for="field" class="add-label">Advert Caption</label>
                            <textarea
                              formControlName="advert_caption"
                              placeholder="" 
                              maxlength="5000" 
                              id="field-3" 
                              name="field-3" 
                              data-name="Field 3" 
                              class="add-user-input w-input"
                              readonly
                              >
                            </textarea>
                          </div>
                          <div id="w-node-c7c13352-b0ba-b441-efee-d37f32c936fd-8705846e">
                            <label for="field" class="add-label">Advert Link</label>
                            <input
                              formControlName="advert_url" 
                              class="add-user-input w-input" 
                              maxlength="256" 
                              name="field-2" 
                              data-name="Field 2" 
                              placeholder="" 
                              type="text" 
                              id="field-2" 
                              required=""
                              readonly
                            >
                          </div>
                        </div>
                        <div id="w-node-c7c13352-b0ba-b441-efee-d37f32c93701-8705846e" class="div-block-436-copy">
                          <div 
                          class="w-layout-grid grid-11"
                          formGroupName="DocAdverts"
                          *ngFor="
                            let document of advertForm.get('DocAdverts')?.value;
                            let index = index;"
                          >
                            <div
                            id="w-node-a27cbaad-a17e-068f-bbfd-9a7e45df79f3-8705846e" class="w-layout-grid grid-12">
                              <div id="w-node-_276e9e1c-29d0-9d0e-d8d3-c1d45f938f56-8705846e" class="div-block-439">
                                <div class="html-embed-5 w-embed">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="39" height="39" viewBox="0 0 39 39">
                                    <g id="Group_5143" data-name="Group 5143" transform="translate(-13 -7)">
                                      <circle id="Ellipse_220" data-name="Ellipse 220" cx="19.5" cy="19.5" r="19.5" transform="translate(13 7)" fill="#00386c"/>
                                      <path id="Icon_awesome-image" data-name="Icon awesome-image" d="M20.841,21.748H2.156A2.156,2.156,0,0,1,0,19.592V6.656A2.156,2.156,0,0,1,2.156,4.5H20.841A2.156,2.156,0,0,1,23,6.656V19.592A2.156,2.156,0,0,1,20.841,21.748ZM5.031,7.015A2.515,2.515,0,1,0,7.546,9.531,2.515,2.515,0,0,0,5.031,7.015ZM2.875,18.873H20.123V13.843L16.192,9.912a.539.539,0,0,0-.762,0L9.343,16,6.849,13.505a.539.539,0,0,0-.762,0L2.875,16.717Z" transform="translate(21 13.5)" fill="#fff"/>
                                    </g>
                                  </svg>
                                </div>
                                <h1 class="add-label-copy">
                                  {{ document.file_origname }} 
                                  {{ convertBytesToMegabytes(document.file_size) | number:'1.2-2' }} MB
                                </h1>
                              </div>
                            </div>                            
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="div-block-435">
                        <input
                            (click)="onCancel();"
                            type="submit" 
                            data-wait="Please wait..."
                            class="submit-button w-button" value="Close">
                    </div>
                  </form>
            </div>
          </div>
        </div>
      </div>
      <div
        data-w-id="bee8f17e-99cc-0f55-571f-7e62129d86d9"
        class="nav-shadow"
      ></div>
    </div>
    <div class="custom-css w-embed">
      <style>
        /*width*/
        .scroll::-webkit-scrollbar {
          height: 4px;
        }
        /*track*/
        .scroll::-webkit-scrollbar-track {
          background: rgba(255, 255, 255, 0);
        }
        /*thumb*/
        .scroll::-webkit-scrollbar-thumb {
          background: rgb(233, 229, 221);
          border-radius: 1000px;
        }
      </style>
    </div>
  </section>
  