
.main-content{
    display:flex;
   }
   
   .mdl-grid {
     padding: 0!important;
   }
   
   
   .dash-content{
     background-color: white;
     border-radius: 7px;
     /* height: 200px; */
     padding: 30px;
   }
   .al {
     display: block ruby ;
   }