<section class="section-3">
    <div class="container">
      <div class="content">
        <div class="content-wrap">
          <div class="user-managemnt-group">
            <div class="group-hero">
              <div class="group-hero_l">
                <div class="group-hero_text">Filter by</div>
                <div data-hover="false" data-delay="0" class="w-dropdown"></div>
                <div 
                  data-hover="false" 
                  data-delay="0" 
                  class="w-dropdown">
                    <div
                      mat-button
                      [matMenuTriggerFor]="nameMenu"
                      class="dropdown-toggle w-dropdown-toggle"
                      >
                      <div class="icon w-icon-dropdown-toggle"></div>
                      <div class="text-block">
                        {{ selectedStatusName !== '' ? selectedStatusName : "Status" }}
                      </div>
                    </div>
                    <mat-menu
                      #nameMenu="matMenu">
                      <button
                        *ngFor="let status of statuses"
                        (click)="selectStatus(status.status)"
                          mat-menu-item
                        >
                          <span class="w-dropdown-link-2">
                            {{ status.name }}
                          </span>
                        </button>
                    </mat-menu>
                </div>
                <div
                  (click)="openPicker()"
                  data-hover="false" 
                  data-delay="0" 
                  class="w-dropdown">
                  <div class="dropdown-toggle w-dropdown-toggle">
                    <div class="icon w-icon-dropdown-toggle"></div>
                    <div class="text-block">
                    {{ selectedDateString ? selectedDateString : "Received Date" }}
                  </div>
                  </div>
                </div>
                <div>
                  <input
                  [matDatepicker]="picker"
                  #datepickerTrigger
                  class="filterDate"
                  (dateInput)="selectDate('input', $event)"
                />
            
                <mat-datepicker #picker class="filterDate"></mat-datepicker>
                </div>

                <div
                  *ngIf="isFilterActive()"
                  (click)="clearFilter()"
                  class="dropdown-toggle-3 w-dropdown-toggle text-block"
                  >
                  clear filters
                </div>
              </div>
              <a
                *ngIf="selection.selected.length > 0"
                (click)="addResponse()"
                class="button w-inline-block">
                  <div class="embed-icon w-embed">
                    <svg
                      width="16"
                      height="16"
                      viewbox="0 0 16 16"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g clip-path="url(#clip0_1695_120)">
                        <path
                          d="M8.00021 14.9623C11.8453 14.9623 14.9623 11.8453 14.9623 8.00021C14.9623 4.15514 11.8453 1.03809 8.00021 1.03809C4.15514 1.03809 1.03809 4.15514 1.03809 8.00021C1.03809 11.8453 4.15514 14.9623 8.00021 14.9623Z"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-miterlimit="10"
                        ></path>
                        <path
                          d="M5.09961 8H10.9014"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        ></path>
                        <path
                          d="M8 5.09961V10.9014"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        ></path>
                      </g>
                      <defs>
                        <clippath id="clip0_1695_120">
                          <rect width="16" height="16" fill="white"></rect>
                        </clippath>
                      </defs>
                    </svg>
                  </div>
                <div class="button-text">Respond ({{selection.selected.length}})</div>
              </a>

              <a
                *ngIf="selection.selected.length == 0"
                (click)="addResponse()"
                class="button w-inline-block">
                  <!-- <div class="embed-icon w-embed">
                    <svg
                      width="16"
                      height="16"
                      viewbox="0 0 16 16"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g clip-path="url(#clip0_1695_120)">
                        <path
                          d="M8.00021 14.9623C11.8453 14.9623 14.9623 11.8453 14.9623 8.00021C14.9623 4.15514 11.8453 1.03809 8.00021 1.03809C4.15514 1.03809 1.03809 4.15514 1.03809 8.00021C1.03809 11.8453 4.15514 14.9623 8.00021 14.9623Z"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-miterlimit="10"
                        ></path>
                        <path
                          d="M5.09961 8H10.9014"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        ></path>
                        <path
                          d="M8 5.09961V10.9014"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        ></path>
                      </g>
                      <defs>
                        <clippath id="clip0_1695_120">
                          <rect width="16" height="16" fill="white"></rect>
                        </clippath>
                      </defs>
                    </svg>
                  </div> -->
                <div class="button-text">View Broadcast</div>
              </a>
              
            </div>
          </div>
  
          <mat-table 
            #feedbackTable
            id="feedbackTable"
            mat-table
            [dataSource]="dataSource" 
            matSort 
            class="mat-elevation-z8"
            #adminsSort="matSort"
            >

              <!-- Checkbox Column -->
              <ng-container 
                matColumnDef="select">
                  <mat-header-cell *matHeaderCellDef
                  >
                  <mat-checkbox
                    (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                    color="primary"
                    >
                  </mat-checkbox>
              
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <mat-checkbox 
                      (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                      color="primary">
                  </mat-checkbox>
                </mat-cell>
              </ng-container>
              
              <!-- Full Name Column -->
              <ng-container matColumnDef="fullname">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                  Full Name
                </mat-header-cell>
                <mat-cell *matCellDef="let feedback">
                    {{ feedback.fullname }} 
                </mat-cell>
              </ng-container>
    
              <!-- Email Column -->
              <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                  Email
                </mat-header-cell>
                <mat-cell *matCellDef="let feedback"> {{ feedback.senderEmail }} </mat-cell>
              </ng-container>
    
              <!-- Created Date Column -->
              <ng-container matColumnDef="created_at">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                  Last Received Date
                </mat-header-cell>
                <mat-cell *matCellDef="let feedback"> 
                   {{ feedback.updated_at | date : "short" }}
                </mat-cell>
              </ng-container>
    
              <!-- Status Column -->
              <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
                <mat-cell *matCellDef="let feedback" >
                  <div class="status" [ngClass]="{ 'status-active': feedback.isresponded }">
                    <span class="status-text">
                        {{ feedback.isresponded
                        ? 'Responded' : 'UnAnswered' }}
                    </span>
                  </div>
                </mat-cell>
              </ng-container>
    
              <!-- Action Column -->
              <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                <mat-cell *matCellDef="let feedback">
                  <!-- Add your action buttons/icons here -->
                  <button
                    mat-icon-button
                    [matMenuTriggerFor]="actionMenu"
                    class="mat-button mat-horizontal-menu" 
                  >
                    <mat-icon style="color: #323259">
                      <img
                        src="assets/images/metro-more-horiz.svg"
                        class="searchIcon"
                    /></mat-icon>
                  </button>
    
                  <mat-menu #actionMenu="matMenu" class="mat-horizontal-menu">
                    <button mat-menu-item (click)="navigateToViewFeedback(feedback.feedbackId)">
                      <mat-icon>visibility</mat-icon> View
                    </button>
                    <!-- <button mat-menu-item (click)="toggleUser(user)">
                      <mat-icon>visibility</mat-icon> View
                    </button> -->
                    <button mat-menu-item (click)="deleteFeedback(feedback.feedbackId)">
                      <mat-icon style="color: red">delete</mat-icon> Archive
                    </button>
                  </mat-menu>
                </mat-cell>
              </ng-container>
  
            <!-- Table Header Row -->
            <mat-header-row 
              *matHeaderRowDef="displayedColumns; sticky: true"
            ></mat-header-row>
            <!-- Table Rows --> 
            <!-- (click)="selection.toggle(row)" -->
            <mat-row            
              *matRowDef="let row; 
              columns: displayedColumns"
            ></mat-row>

            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">
                No data matching the filter "{{dataSource.filter}}"
              </td>
            </tr>
          </mat-table>
          <mat-paginator
            #paginator
            [length]="TotalRecords"
            [pageIndex]="currentPage"
            [pageSize]="pageSize"
            [pageSizeOptions]="[5, 10, TotalRecords]"
            (page)="pageChanged($event)"
            aria-label="Select page"
            showFirstLastButtons
            aria-label="'Select page of admins'"
          ></mat-paginator>
        </div>
      </div>
      <div
        data-w-id="717ec873-5bdf-1582-6da6-888fecad4a6e"
        class="nav-shadow"
      ></div>
    </div>
    <div class="custom-css w-embed">
      <style>
        /*width*/
        .scroll::-webkit-scrollbar {
          height: 2px;
        }
        /*track*/
        .scroll::-webkit-scrollbar-track {
          background: rgba(255, 255, 255, 0);
        }
        /*thumb*/
        .scroll::-webkit-scrollbar-thumb {
          background: rgb(233, 229, 221);
          border-radius: 1000px;
        }
      </style>
    </div>
  </section>

 