<section class="section-2">
    <div class="container-main">
        <div class="right">
            <div><img src="../../../assets/img/Group-4465.svg" loading="lazy"
                    width="181" alt></div>
        </div>
        <div class="left">
            <div class="left-wrap">
                <div class="div-block-2"><img
                        src="../../../assets/img/Mask-Group-12.svg"
                        loading="lazy" width="181" alt
                        class="forgotpasswordimage"></div>
                <div class="form-block w-form">
                    <form  [formGroup]="userForm"
                    (ngSubmit)="onSubmit()"      id="email-form" name="email-form"
                        data-name="Email Form" method="get" data-ms-form="login"
                        class="form" data-wf-page-id="658da8e630c7ba090f31eccb"
                        data-wf-element-id="e4f4936e-8285-393a-6abf-28c9a0fc82ba">
                        <h1 class="heading-copy">Forgot Password</h1>
                        <p class="paragraph-2">Please enter your email address
                            associated with your account and we will send you
                            and email with instructions to reset your
                            password</p>
                        <div class="field-wrapper top"><label for="Email"
                                class="forgotpasswordlabel">Email
                                Address</label>
                                <input 
                                formControlName="Email"
                                type="email"
                                class="forgotpassowrd_field w-input"
                                maxlength="256" name="Email" data-name="Email"
                                placeholder id="Email" data-ms-member="email"
                                required></div>
                        <div class="form-flex"></div>
                        
                        <button  
                            class="forgotpassword_sub w-button" >Submit</button>
                            <div   *ngIf="statusMessage === true" >
                                <div style="color: green;">Thank you! Check Your Email For Password Reset!</div>
                            </div>
                        <h5 class="heading-2">Back</h5>
                    </form>
                    <div class="w-form-fail">
                        <div>Oops! Something went wrong while submitting the
                            form.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>