<section class="section-2">
    <div class="container-main">
        <div class="right">
            <div><img src="assets/images/Group-4465.svg" loading="lazy"
                    width="181" alt></div>
        </div>
        <div class="left">
            <div class="left-wrap">
                <div class="div-block-2"><img
                        src="assets/images/Mask-Group-12.svg"
                        loading="lazy" width="181" alt
                        class="forgotpasswordimage"></div>
                <div class="form-block w-form">
                    <form 
                        *ngIf="resetRequestSuccessful === false"
                         [formGroup]="userForm"
                        (ngSubmit)="onSubmit()"      
                        id="email-form" 
                        name="email-form"
                        data-name="Email Form" 
                        method="get" 
                        data-ms-form="login"
                        class="form" 
                        data-wf-page-id="658da8e630c7ba090f31eccb"
                        data-wf-element-id="e4f4936e-8285-393a-6abf-28c9a0fc82ba">
                            <h1 class="heading-copy">Forgot Password</h1>
                            <p class="paragraph-2">Please enter your email address
                            associated with your account and we will send you
                            and email with instructions to reset your
                            password</p>
                            <div class="field-wrapper top" style="margin-bottom: 10%;">
                                <label for="Email"
                                    class="forgotpasswordlabel">Email
                                    Address</label>
                                <input
                                    style="color: black;"
                                    formControlName="email"
                                    type="email"
                                    class="forgotpassowrd_field w-input"
                                    maxlength="256" 
                                    name="email" 
                                    data-name="Email"
                                    placeholder 
                                    id="Email" 
                                    data-ms-member="email"
                                    required
                                >

                                <div
                                style="color: red;"
                                *ngIf="userForm.controls['email'].errors  && submitted">
                                    Email is required
                            </div>

                            </div>
                            <div class="form-flex"></div>
                        
                            <button  
                                class="forgotpassword_sub w-button" >Submit</button>
                                <div   *ngIf="statusMessage === true" >
                                    <div style="color: green;">Thank you! Check Your Email For Password Reset!</div>
                                </div>
                            <h5 class="heading-2"
                            >
                                <a (click)="onBack()">
                                    Back
                                </a>
                            </h5>
                        </form>

                        <form 
                           *ngIf="resetRequestSuccessful === true"
     
                            id="email-form" 
                            name="email-form"
                            data-name="Email Form" 
                            method="get" 
                            data-ms-form="login"
                            class="form" 
                            data-wf-page-id="658da8e630c7ba090f31eccb"
                            data-wf-element-id="e4f4936e-8285-393a-6abf-28c9a0fc82ba">
                                <h1 class="heading-copy">Forgot Password </h1>
                                <p class="paragraph-2">Email with reset instructions sent to {{email}}</p>

                                <div class="form-flex"></div>

                               <button  
                                class="forgotpassword_sub w-button" 
                                (click)="onBack()"
                                >
                                Cancel</button>
                            </form>
                        <div class="w-form-fail">
                            <div>Oops! Something went wrong while submitting the
                                form.</div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>