<section class="section-3">
    <div class="container">
      <div class="content">
        <div class="content-wrap">
          <div class="user-managemnt-group">
            <div class="group-hero">
              <div class="group-hero_l">
                <div class="group-hero_text">
                  <mat-icon>filter_list</mat-icon>
                  <div>                    
                    Filter by
                  </div>
                </div>
                <div data-hover="false" data-delay="0" class="w-dropdown">

                </div>
                <div 
                  data-hover="false" 
                  data-delay="0" 
                  class="w-dropdown">
                    <div
                      mat-button
                      [matMenuTriggerFor]="subscribedMenu"
                      class="dropdown-toggle w-dropdown-toggle"
                      >
                      <div class="icon w-icon-dropdown-toggle"></div>
                      <div class="text-block">
                        {{ selectedSubscriptionName !== '' ?  "Subscribed: " + selectedSubscriptionName : "Subscribed" }}
                      </div>
                    </div>
                    <mat-menu
                      #subscribedMenu="matMenu">
                        <button
                          mat-menu-item
                          *ngFor="let subscription of subscriptions"
                          (click)="selectSubscription(subscription.subscription)"
                        >
                          <span class="w-dropdown-link-2">
                            {{ subscription.subscription }}
                          </span>
                        </button>
                    </mat-menu>
                </div>
                <div
                  (click)="openPicker()"
                  data-hover="false" 
                  data-delay="0" 
                  class="w-dropdown">
                  <div class="dropdown-toggle w-dropdown-toggle">
                    <div class="icon w-icon-dropdown-toggle"></div>
                    <div class="text-block">
                    {{ selectedDateString ? selectedDateString : "Date" }}
                  </div>
                  </div>
                </div>
                <div>
                  <input
                  [matDatepicker]="picker"
                  #datepickerTrigger
                  class="filterDate"
                  (dateInput)="selectDate('input', $event)"
                />
            
                <mat-datepicker #picker class="filterDate"></mat-datepicker>
                </div>

                <div
                  *ngIf="isFilterActive()"
                  (click)="clearFilter()"
                  class="dropdown-toggle-3 w-dropdown-toggle text-block"
                  >
                  clear filters
                </div>
              </div>
              <a 
                (click)="navigateToAddUser()"
                class="button w-inline-block">
                  <div class="embed-icon w-embed">
                    <!-- <svg
                      width="16"
                      height="16"
                      viewbox="0 0 16 16"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g clip-path="url(#clip0_1695_120)">
                        <path
                          d="M8.00021 14.9623C11.8453 14.9623 14.9623 11.8453 14.9623 8.00021C14.9623 4.15514 11.8453 1.03809 8.00021 1.03809C4.15514 1.03809 1.03809 4.15514 1.03809 8.00021C1.03809 11.8453 4.15514 14.9623 8.00021 14.9623Z"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-miterlimit="10"
                        ></path>
                        <path
                          d="M5.09961 8H10.9014"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        ></path>
                        <path
                          d="M8 5.09961V10.9014"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        ></path>
                      </g>
                      <defs>
                        <clippath id="clip0_1695_120">
                          <rect width="16" height="16" fill="white"></rect>
                        </clippath>
                      </defs>
                    </svg> -->
                    <mat-icon>person_add</mat-icon>
                  </div>
                <div class="button-text">New User</div>
              </a>
            </div>
          </div>
  
          <mat-table 
            #adminsTable
            id="adminsTable"
            mat-table
            [dataSource]="dataSource" 
            matSort 
            class="mat-elevation-z8"
            #adminsSort="matSort"
            >
              <!-- Full Name Column -->
              <ng-container matColumnDef="fullname">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                  Full Name
                </mat-header-cell>
                <mat-cell *matCellDef="let user">
                    {{ user.fullname }} 
                </mat-cell>
              </ng-container>
    
              <!-- Email Column -->
              <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                  Email
                </mat-header-cell>
                <mat-cell *matCellDef="let user"> {{ user.email }} </mat-cell>
              </ng-container>
    
              <!-- contact number Column -->
              <ng-container matColumnDef="userrole">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                  Role
                </mat-header-cell>
                <mat-cell *matCellDef="let user">
                  {{ user.userrole }}
                </mat-cell>
              </ng-container>
    
              <!-- Created Date Column -->
              <ng-container matColumnDef="created_at">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                  Created Date
                </mat-header-cell>
                <mat-cell *matCellDef="let user"> 
                   {{ user.created_at | date : "mediumDate" }}
                </mat-cell>
              </ng-container>
    
              <!-- Status Column -->
              <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
                <mat-cell *matCellDef="let user" >
                  <div class="status" [ngClass]="{ 'status-active': user.subscription }">
                    <span class="status-text">
                        {{ user.subscription ? 'Active' : 'InActive' }}
                    </span>
                  </div>
                </mat-cell>
              </ng-container>
    
              <!-- Action Column -->
              <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                <mat-cell *matCellDef="let user">
                  <!-- Add your action buttons/icons here -->
                  <button
                    (click)="checkCurrentUser(user)"
                    mat-icon-button
                    [matMenuTriggerFor]="actionMenu"
                    class="mat-button mat-horizontal-menu"
                  >
                    <mat-icon style="color: #323259">
                      <svg style="color: #323259" xmlns="http://www.w3.org/2000/svg" width="24.51" height="6.128" viewBox="0 0 24.51 6.128">
                        <path id="Icon_metro-more-horiz" data-name="Icon metro-more-horiz" d="M10.776,15.424a3.064,3.064,0,1,0,3.064,3.064A3.063,3.063,0,0,0,10.776,15.424Zm18.383,0a3.064,3.064,0,1,0,3.064,3.064A3.063,3.063,0,0,0,29.159,15.424Zm-9.191,0a3.064,3.064,0,1,0,3.064,3.064,3.063,3.063,0,0,0-3.064-3.064Z" transform="translate(-7.712 -15.424)" fill="#1f6a45"/>
                      </svg>
                  </mat-icon>
                  </button>
    
                  <mat-menu 
                    #actionMenu="matMenu" 
                    class="mat-horizontal-menu"
                    >
                      <button mat-menu-item (click)="navigateToEditUser(user)">
                        <mat-icon>edit</mat-icon> Edit
                      </button>
                      <!-- <button mat-menu-item (click)="toggleUser(user)">
                        <mat-icon>visibility</mat-icon> View
                      </button> -->
                      <button
                        *ngIf="!isCurrentUser"
                        mat-menu-item
                        (click)="deleteUser(user)"
                        >
                          <mat-icon style="color: red">delete</mat-icon> Delete
                      </button>
                  </mat-menu>
                </mat-cell>
              </ng-container>
  
            <!-- Table Header Row -->
            <mat-header-row 
              *matHeaderRowDef="displayedColumns; sticky: true"
            ></mat-header-row>
            <!-- Table Rows --> 
            <mat-row *matRowDef="let user; columns: displayedColumns"></mat-row>

            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">
                {{ dataSource.filter ? 'No data matching the filter ' + dataSource.filter : 'loading data...'}}
              </td>
            </tr>
          </mat-table>
          <mat-paginator
            #paginator
            [length]="TotalRecords"
            [pageIndex]="currentPage"
            [pageSize]="pageSize"
            [pageSizeOptions]="[5, 10, TotalRecords]"
            (page)="pageChanged($event)"
            aria-label="Select page"
            showFirstLastButtons
            aria-label="'Select page of admins'"
          ></mat-paginator>
        </div>
      </div>
      <div
        data-w-id="717ec873-5bdf-1582-6da6-888fecad4a6e"
        class="nav-shadow"
      ></div>
    </div>
    <div class="custom-css w-embed">
      <style>
        /*width*/
        .scroll::-webkit-scrollbar {
          height: 2px;
        }
        /*track*/
        .scroll::-webkit-scrollbar-track {
          background: rgba(255, 255, 255, 0);
        }
        /*thumb*/
        .scroll::-webkit-scrollbar-thumb {
          background: rgb(233, 229, 221);
          border-radius: 1000px;
        }
      </style>
    </div>
  </section>
 