<section class="section-3">
    <div class="container">
      <div class="content">        
          <div class="content-wrap">
              <div class="user-managemnt-group">
                  <div class="group-hero-copy">
                      <div class="group-hero_l">
                            <a
                                (click)="onCancel()"
                                class="button-11 w-button">
                                Back
                            </a>
                        </div>
                    </div>
                </div>

                <form
                    [formGroup]="feedbackForm"
                    (ngSubmit)="onSubmit()"
                    >
                    <div class="group inside-form" #content
                    *ngIf="apiData.feedbackObservable$ | async as feedback"
                    >
                        <h3 class="heading-copy">{{ feedback.title }}</h3>
                        <div class="w-layout-grid grid-13"
                        
                        >
                        <div
                            formGroupName="FeedbackMessages"
                            *ngFor="let feedbacks of feedback.FeedbackMessages; let index = index;"
                            >
                            <div
                            id="w-node-aa5e58af-d246-1d55-81c6-6a59b577d835-bf38b96b"
                            *ngIf="feedbacks.feedback"
                            >
                              <h4 class="heading-name">{{ feedback.fullname }}</h4>
                              <div class="w-layout-grid grid-14">
                                <div id="w-node-_1994920b-3f65-6b60-4362-b189a3f17c0f-bf38b96b">
                                  <div class="w-layout-grid grid-15">
                                    <div id="w-node-cf55cddc-2c29-f04a-1353-f077533db390-bf38b96b" class="div-block-445">
                                      <!-- <img 
                                        src="../../../../assets/images/Group-4959.svg" 
                                        loading="lazy" 
                                        alt=""
                                      > -->
                                      <svg xmlns="http://www.w3.org/2000/svg" width="52.025" height="48.611" viewBox="0 0 52.025 48.611">
                                        <g id="Group_4959" data-name="Group 4959" transform="translate(-332 -351)">
                                          <path id="Icon_simple-hipchat" data-name="Icon simple-hipchat" d="M43.361,40.353a21.2,21.2,0,0,0,8.664-16.733c0-12.388-11.647-22.44-26.006-22.44S0,11.232,0,23.621,11.643,46.07,26.008,46.07a29.831,29.831,0,0,0,5.471-.494l.568-.1a27.074,27.074,0,0,0,13.631,4.314,1.4,1.4,0,0,0,1.2-2.393C45.47,45.675,43.005,40.624,43.361,40.353Z" transform="translate(332 349.819)" fill="#00386c"/>
                                          <circle id="Ellipse_209" data-name="Ellipse 209" cx="3.5" cy="3.5" r="3.5" transform="translate(340 372)" fill="#fff"/>
                                          <circle id="Ellipse_210" data-name="Ellipse 210" cx="3.5" cy="3.5" r="3.5" transform="translate(351 372)" fill="#fff"/>
                                          <circle id="Ellipse_211" data-name="Ellipse 211" cx="3.5" cy="3.5" r="3.5" transform="translate(364 372)" fill="#fff"/>
                                        </g>
                                      </svg>    
                                    </div>
                                    <div id="w-node-_0aeb8ca7-70a9-288f-4d1e-94ac7e404a68-bf38b96b" class="div-block-444">
                                      <p class="paragraph-3">{{feedbacks.feedback}}</p>
                                      <div>
                                        <h4 class="time-heading">{{ feedbacks.created_at | date : "short" }}</h4>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>


                            <div                        
                                id="w-node-d6e462d1-76fb-9d89-7c68-0a48cdb81add-bf38b96b"
                                *ngIf="feedbacks.response"
                            >
                              <h4 class="adm">{{ feedbacks.responderEmail }}</h4>
                              <div class="w-layout-grid grid-16">
                                <div id="w-node-_68c2ba2d-a180-6d5d-bc2e-dfc8d4e9ef8b-bf38b96b" class="div-block-448">
                                </div>
                                <div id="w-node-_3891c89a-c05f-88ae-0e87-eb0330273651-bf38b96b">
                                  <div class="w-layout-grid grid-17">
                                    <div id="w-node-bb567ea0-417d-ba11-69bd-8fd873445a44-bf38b96b" class="div-block-446">
                                      <p class="paragraph-3">{{ feedbacks.response }}</p>
                                      <h4 class="time-heading-copy">{{ feedbacks.created_at | date : "short" }}</h4>
                                    </div>
                                    <div id="w-node-_5ddf5ebf-8f5e-e5f5-cd98-b70df93808a4-bf38b96b" class="div-block-445">
                                      <!-- <img
                                        src="../../../../assets/images/Group-5146.svg"
                                        loading="lazy" 
                                        alt=""
                                        > -->
                                        <svg xmlns="http://www.w3.org/2000/svg" width="52.025" height="48.611" viewBox="0 0 52.025 48.611">
                                          <g id="Group_5146" data-name="Group 5146" transform="translate(-732 -362.389)">
                                            <path id="Icon_simple-hipchat" data-name="Icon simple-hipchat" d="M8.664,40.353A21.2,21.2,0,0,1,0,23.621C0,11.232,11.647,1.18,26.006,1.18s26.019,10.052,26.019,22.44S40.383,46.069,26.017,46.069a29.831,29.831,0,0,1-5.471-.494l-.568-.1A27.074,27.074,0,0,1,6.347,49.791a1.4,1.4,0,0,1-1.2-2.393C6.555,45.675,9.02,40.624,8.664,40.353Z" transform="translate(732 361.208)" fill="#8295c2"/>
                                            <circle id="Ellipse_212" data-name="Ellipse 212" cx="3.5" cy="3.5" r="3.5" transform="translate(743 383)" fill="#fff"/>
                                            <circle id="Ellipse_213" data-name="Ellipse 213" cx="3.5" cy="3.5" r="3.5" transform="translate(754 383)" fill="#fff"/>
                                            <circle id="Ellipse_214" data-name="Ellipse 214" cx="3.5" cy="3.5" r="3.5" transform="translate(767 383)" fill="#fff"/>
                                          </g>
                                        </svg>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>

                        <div id="w-node-_3fb734d5-7419-d57c-65b2-a87e0c26e603-bf38b96b">
                            <div class="w-form">
                                <div class="div-block-450">
                                  <input
                                    formControlName="responseMessage" 
                                    class="text-field-2 w-input" 
                                    maxlength="256" 
                                    name="name" 
                                    data-name="Name" 
                                    placeholder="Say Something here......" 
                                    type="text" 
                                    id="name"
                                    required
                                    >
                                    <input
                                    *ngIf="isResponseMessageValid()"
                                    type="submit" 
                                    data-wait="Please wait..." 
                                    class="submit-button-3 w-button" 
                                    value=""
                                  >
                                </div>
                            </div>
                          </div>
                        </div> 
                    </div>
                </form>
            </div>
        </div>
        <div
        data-w-id="717ec873-5bdf-1582-6da6-888fecad4a6e"
        class="nav-shadow"
        ></div>
    </div>
    <div class="custom-css w-embed">
      <style>
        /*width*/
        .scroll::-webkit-scrollbar {
          height: 2px;
        }
        /*track*/
        .scroll::-webkit-scrollbar-track {
          background: rgba(255, 255, 255, 0);
        }
        /*thumb*/
        .scroll::-webkit-scrollbar-thumb {
          background: rgb(233, 229, 221);
          border-radius: 1000px;
        }
      </style>
    </div>
  </section>

    <ngx-spinner
        bdColor="rgba(51,51,51,0.8)"
        size="medium"
        color="#fff"
        type="ball-scale-multiple" 
        type="ball-scale-multiple">
        <p
        style="font-size: 20px; color: white"
        >Replying...
        <p>
    </ngx-spinner>
 