<section class="section-3">
  <div class="container">
    <div class="mobile-nav">
      <div class="user-wrap small-gap">
        <div class="user-copy">
          <img
            src="assets/images/Group-4465.svg"
            loading="lazy"
            alt=""
            class="user-icon"
          />
          <div class="user-info res-hide">
            <div class="user-name">Jane Doe 23</div>
            <div class="user-description">Super Admin</div>
          </div>
        </div>
      </div>
      <div
        (click)="toggleMenu()"
        [class.active]="menuOpen"
        data-w-id="717ec873-5bdf-1582-6da6-888fecad4a2e" 
        class="hamburger">
          <div data-w-id="717ec873-5bdf-1582-6da6-888fecad4a2f" class="hamburger-line top"></div>
          <div data-w-id="717ec873-5bdf-1582-6da6-888fecad4a30" class="hamburger-line middle"></div>
          <div data-w-id="717ec873-5bdf-1582-6da6-888fecad4a31" class="hamburger-line bot"></div>
      </div>
    </div>

    <div 
      *ngIf="menuOpen"
      data-w-id="717ec873-5bdf-1582-6da6-888fecad4a32" 
      class="nav">
      <div class="nav-top">
        <a 
        (click)="navigateToDashboard()"
          class="logo-link w-inline-block"
            ><img
              src="assets/images/Group-4465.svg"
              loading="lazy"
              width="121"
              alt=""
              class="image-9"
          />
        </a>
        <div class="nav-separator"></div>
        <div class="nav-menu" >

          <!-- Dashboard Menu Item -->
          <a 
            routerLink="/admin/dashboard"
            routerLinkActive="activebutton"
            ariaCurrentWhenActive="page"
            (click)="hideDropdown()"
            class="nav-link w-inline-block">
              <div class="embed-icon w-embed">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <path id="Icon_material-dashboard" data-name="Icon material-dashboard" d="M4.5,17.833H15.167V4.5H4.5ZM4.5,28.5H15.167v-8H4.5Zm13.333,0H28.5V15.167H17.833Zm0-24v8H28.5v-8Z" transform="translate(-4.5 -4.5)" fill="#fff"/>
                </svg>
              </div>
            <div class="nav-link_text">Dashboard</div>
          </a>

          <!-- User Management Menu Item -->
          <div 
            data-hover="true"   
            data-delay="0" 
            class="w-dropdown"
            >
              <div 
                class="nav-link w-dropdown-toggle" 
                (click)="toggleDropdown()" 
                [ngClass]="{'activebutton': isUserManagementActive}" 
                >
                  <div
                  class="dropdown"
                  >
                    <mat-icon>
                      {{ isDropdownOpen ? "expand_less": "expand_more" }}
                    </mat-icon>
                  </div>

                  <svg xmlns="http://www.w3.org/2000/svg" width="30.772" height="21.541" viewBox="0 0 30.772 21.541">
                    <path id="Icon_awesome-users" data-name="Icon awesome-users" d="M4.616,11.482A3.077,3.077,0,1,0,1.539,8.4,3.08,3.08,0,0,0,4.616,11.482Zm21.541,0A3.077,3.077,0,1,0,23.079,8.4,3.08,3.08,0,0,0,26.156,11.482Zm1.539,1.539H24.618a3.068,3.068,0,0,0-2.168.894,7.033,7.033,0,0,1,3.611,5.26h3.173a1.537,1.537,0,0,0,1.539-1.539V16.1A3.08,3.08,0,0,0,27.695,13.02Zm-12.309,0A5.385,5.385,0,1,0,10,7.635,5.382,5.382,0,0,0,15.386,13.02Zm3.693,1.539h-.4a7.435,7.435,0,0,1-6.587,0h-.4A5.54,5.54,0,0,0,6.154,20.1v1.385a2.309,2.309,0,0,0,2.308,2.308H22.31a2.309,2.309,0,0,0,2.308-2.308V20.1A5.54,5.54,0,0,0,19.079,14.559ZM8.323,13.915a3.068,3.068,0,0,0-2.168-.894H3.077A3.08,3.08,0,0,0,0,16.1v1.539a1.537,1.537,0,0,0,1.539,1.539H4.707A7.051,7.051,0,0,1,8.323,13.915Z" transform="translate(0 -2.25)" fill="#fff"/>
                  </svg>
                  <div class="nav-link_text" >
                    {{ selectedOption ? selectedOption : 'User Management' }}
                  </div>
            </div>

            <nav 
              class="dropdown-item" 
              *ngIf="isDropdownOpen"              
              >
                <div 
                  class="dropdown-link-4 w-dropdown-link" 
                  (click)="onOptionSelected('Admin User')" 
                  >
                  Admin User
                </div>
                <div 
                  class="dropdown-link-3 w-dropdown-link" 
                  (click)="onOptionSelected('Subscriber User')" 
                  >
                  Subscriber User
              </div>
            </nav>
          </div>

          <!-- Feeback Menu Item -->          
          <a
            *ngIf="menuOpen"
            class="nav-link w-inline-block" 
            routerLink="/admin/feedback"
            routerLinkActive="activebutton"
            ariaCurrentWhenActive="page"
            (click)="hideDropdown()"
            >
            <div class="embed-icon w-embed">
               <svg xmlns="http://www.w3.org/2000/svg" width="23.809" height="23.589" viewBox="0 0 27.809 28.589">
                <path id="Icon_material-settings" data-name="Icon material-settings" d="M27.935,18.7a11.14,11.14,0,0,0,.1-1.4,11.14,11.14,0,0,0-.1-1.4l3.016-2.359a.721.721,0,0,0,.172-.915L28.264,7.674a.718.718,0,0,0-.872-.314L23.832,8.789a10.444,10.444,0,0,0-2.416-1.4L20.873,3.6a.7.7,0,0,0-.7-.6H14.455a.7.7,0,0,0-.7.6l-.543,3.788a10.982,10.982,0,0,0-2.416,1.4L7.236,7.36a.7.7,0,0,0-.872.314L3.505,12.62a.7.7,0,0,0,.172.915l3.016,2.359a11.337,11.337,0,0,0-.1,1.4,11.337,11.337,0,0,0,.1,1.4L3.677,21.054a.721.721,0,0,0-.172.915l2.859,4.946a.718.718,0,0,0,.872.314L10.8,25.8a10.444,10.444,0,0,0,2.416,1.4l.543,3.788a.7.7,0,0,0,.7.6h5.718a.7.7,0,0,0,.7-.6l.543-3.788a10.983,10.983,0,0,0,2.416-1.4l3.559,1.429a.7.7,0,0,0,.872-.314l2.859-4.946a.721.721,0,0,0-.172-.915L27.935,18.7ZM17.314,22.3a5,5,0,1,1,5-5A5.009,5.009,0,0,1,17.314,22.3Z" transform="translate(-3.406 -3)" fill="#fff"/>
               </svg>              
            </div>
            <div class="nav-link_text">Feedback / Response</div>
          </a>
        </div>
      
      </div>
      <a 
        class="nav-link w-inline-block logout"
        (click)="logout()"      
        >
        <div class="embed-icon w-embed">
          <svg xmlns="http://www.w3.org/2000/svg" width="19.571" height="17.25" viewBox="0 0 18.571 16.25">
            <path id="Icon_open-account-logout" data-name="Icon open-account-logout" d="M6.964,0V2.321H16.25V13.929H6.964V16.25H18.571V0ZM4.643,4.643,0,8.125l4.643,3.482V9.286h9.286V6.964H4.643Z" fill="#fff"/>
          </svg>
          
        </div>
        <div class="nav-link_text">Logout</div>
      </a>
    </div>  

    <div class="content">
      <div class="navigation">
        <div class="navigation-right">
          <div 
          *ngIf="shouldShowSearchIcon()"
          class="form-block-2 w-form">
            <form
              [formGroup]="myForm"
              id="email-form"
              name="email-form"
              data-name="Email Form"
              method="get"
              class="form-2"
              data-wf-page-id="659fdf53d2669e38ece136bb"
              data-wf-element-id="717ec873-5bdf-1582-6da6-888fecad4a48"
            >
            <input
                formControlName="search"
                matInput
                class="search w-input"
                maxlength="256"
                name="Search-2"
                data-name="Search 2"
                placeholder="Search here..."
                type="text"
                id="Search-2"
                required=""
                (keyup)="applyFilter($event)"
              />
            </form>
          </div>
        </div>
        <div class="user">
          <div 
            *ngIf="apiData.userObservable$ | async as user"
            class="user-info"
            >
            <div class="user-name">
              {{ user.userEmail }}
            </div>
            <div class="user-description">
              {{ user.userRole }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div 
    data-w-id="717ec873-5bdf-1582-6da6-888fecad4a6e" 
    class="nav-shadow" 
    [ngStyle]="{ display: menuOpen ? 'flex' : 'none' }"
    style="opacity: 1;">
  </div>
  <!-- <div
    data-w-id="717ec873-5bdf-1582-6da6-888fecad4a6e"
    class="nav-shadow"
  ></div> -->

  </div>
  <div class="custom-css w-embed">
    <style>
      /*width*/
      .scroll::-webkit-scrollbar {
        height: 4px;
      }
      /*track*/
      .scroll::-webkit-scrollbar-track {
        background: rgba(255, 255, 255, 0);
      }
      /*thumb*/
      .scroll::-webkit-scrollbar-thumb {
        background: rgb(233, 229, 221);
        border-radius: 1000px;
      }
    </style>
  </div>
</section>
